// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import 'normalize';
@import 'links';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'node';
@import 'views';
@import 'webform';
@import 'front';
@import 'pricing';
@import 'curator';
@import 'menu_desktop';
@import 'menu_mobile';
@import 'cookies';
