// Social feed
#block-lkb11-curatorfeed {
  margin-bottom: 120px;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  article {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    border-radius: $border-radius-img;

    .crt-post-border {
      border: inherit;
    }
    .crt-social-icon svg {
      color: $white;
    }
    .crt-post-fullname a {
      color: $white;
    }
    .crt-post-title {
      color: $white;
    }
    .crt-post-text {
      color: $white;
      font-size: 0.8rem;
      a {
        color: $white;
        text-decoration: underline;
        &:hover {
          color: $yellow;
          text-decoration: underline;
        }
      }
    }
    .crt-post-footer {
      background-color: rgba(0,0,0,0.7);
      a {
        color: $white;
        text-decoration: none;
        opacity: 1;
      }
    }
    .crt-post-share {
      display: none;
    }
  }

  /*
  .crt-load-more-container .crt-load-more {
    color: inherit;
    background-color: inherit;
    border-top-color: inherit;
    border: 2px solid $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }
  */

  .crt-load-more {
    color: inherit;
    background-color: $yellow;
    border-top-color: none;
    padding: 5px 15px;
    height: 38px;
    &:hover {
      background-color: $orange;
    }
  }
}