footer {
  background-color: rgba(0,0,0,0.6);
  border-top: 1px solid rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-top: 60px;
  padding-bottom: 120px;
  font-size: 14px;

  .region-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* Social media icons */
  #footer-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $white;
      border-radius: 50%;
      font-size: 19px;
      color: $white;

      &:hover,
      &:focus {
        border: 1px solid $yellow;
        color: $yellow;
        text-decoration: none;
      }
    }

    span {
      display: none;
    }
  }

  #social-media-username {
    font-size: 23px;
    font-weight: 200;
  }

  /* Small print */
  #block-lkb11-footertext {
    .field--name-body > div {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  /* Footer menu */
  #block-lkb11-footermenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    a {
      padding: 0;
      margin: 0;

      &:hover {
        color: $yellow;
      }
    }
  }

  /* Company logos */
  #block-lkb11-companylogos {
    img {
      width: 120px;
      height: auto;
    }
  }
}