.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
}

body.path-frontpage {
  main[role="main"] {
    margin-top: 45vh;
  }
}

#block-lkb11-homepagecontent {
  max-width: 850px;
  margin: 0 auto 60px auto;
  text-align: center;
  padding: 30px;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
  border-radius: $border-radius;
  position: relative;
  z-index: -1;


  p {
    margin-bottom: 0;
  }

  p.slogan {
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: small;
  }
  p.tagline {
    font-size: clamp(1.0rem, 1vw + 1rem, 1.5rem);
    color: $yellow;
  }
  p.title {
    font-size: clamp(2.2rem, 2vw + 1rem, 5rem);
  }
  h1 {
    font-size: clamp(1.2rem, 2vw + 1rem, 2.5rem);
    margin: 0 auto 10px auto;
  }
  p.description {
    //font-size: 18px;
  }
}


// Social feed
#block-lkb11-curatorfeed {
  article {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    border-radius: $border-radius-img;

    .crt-post-border {
      border: inherit;
    }
    .crt-social-icon svg {
      color: $white;
    }
    .crt-post-fullname a {
      color: $white;
    }
    .crt-post-title {
      color: $white;
    }
    .crt-post-text {
      color: $white;
      font-size: 0.8rem;
      a {
        color: $white;
        text-decoration: underline;
        &:hover {
          color: $yellow;
          text-decoration: underline;
        }
      }
    }
    .crt-post-footer {
      background-color: rgba(0,0,0,0.7);
      a {
        color: $white;
        text-decoration: none;
        opacity: 1;
      }
    }
    .crt-post-share {
      display: none;
    }
  }

  .crt-load-more-container .crt-load-more {
    color: inherit;
    background-color: inherit;
    border-top-color: inherit;
    border: 2px solid $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}