header {
  background-color: rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
  padding-top: 15px;
  position: relative;
  z-index: 10;

  .region-upper-cta {
    text-align: center;
    padding-bottom: 15px;
  }
}

#block-lkb11-branding {
  .navbar-brand img {
    position: absolute;
    z-index: 20;
    margin: 0;
    height: 130px;
  }
}