#block-lkb11-mainmenu {

  /* TBM MENU MENU STRUCTURE */

  // Primary menu items
  .tbm {
    background-color: inherit;
    margin: 0 auto 15px auto;
  }

  .tbm-nav {
    justify-content: center;

    .tbm-item.level-1 {
      border-right: inherit;
      margin: 0 20px;
      font-weight: $font-weight-bold;

      @media (min-width: 768px) and (max-width: 991px) {
        margin: 0 10px;
      }    }

    .tbm-link.level-1,
    .tbm-link.level-1:hover {
      color: $white;
      background-color: inherit;
      padding: 0;
      outline: none;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 16px;
      }
    }

    .tbm-submenu-toggle {
      display: flex;
      justify-content: right;
      color: $white;
      background-color: inherit;
      padding: 0;
      width: 27px;
      position: relative;
      top: 2px;
      outline: none;
    }

    .tbm-submenu-toggle:before {
      left: inherit;
    }
  }

  // Submenu
  .tbm-item.level-1 > .tbm-submenu {
    z-index: 10;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.85);
    border: 1px solid rgba(255,255,255,0.25);
    isolation: isolate;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    border-radius: $border-radius;

    /*
    @media (min-width: 1400px) {
      width: 1200px;
      left: -105px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
      width: 1100px;
      left: -182px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      width: 940px;
      left: -162px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      width: 760px;
      left: -152px;
    }
    */
  }

  // Set space between sub menu columns
  .tbm-row {
    column-gap: 20px;
  }


  /* TBM MENU MENU CONTENT */

  h2 {
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin: 10px 0 20px 0;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  .field--name-field-media-image {
    margin: 0 0 20px 0;
    img {
      border-radius: $border-radius-img;
    }
  }

  .field--name-body {
    font-weight: $font-weight-normal;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
  }



}

  /*



  .tbm-row+.tbm-row {
    margin-top: 2rem;
  }

  // Design
  .block-block-content {


    .field--name-body {
      text-align: center;
      font-size: 18px;
      line-height: 1.4;
      height: 220px;

      @media (max-width: 1199px) {
        height: 270px;
      }

      @media (max-width: 991px) {
        font-size: 16px;
        height: 290px;
      }
    }
    .field--name-field-link {
      display: flex;
      justify-content: center;
      font-size: 18px;

      a {
        width: 100%;

        @media (max-width: 1199px) {
          font-size: 16px;
          line-height: 1.2;
        }

        @media (max-width: 991px) {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }
  }

  .our-show .field--name-body {
    text-align: center;
  }


  // Block with two buttons for songs and prices
  .block-block-content76407398-e779-4bd8-8d37-56fe51fb31d5{
    .field--name-body {
      height: inherit;

      #show-buttons {
        display: flex;
        justify-content: center;
        gap: 30px;

        .menu-btn {
          width: 160px;
        }
      }
    }
  }


  // Video player
  #block-block-content81c73f18-f18e-45e5-952e-5328512ba1f0 {
    .field--name-body {
      height: inherit;
      height: 360px;

      @media (max-width: 1199px)  {height: 320px;}
      @media (max-width: 991px)   {height: 240px;}
    }

    #promo-video {
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        height: auto;
      }

      .menu-btn {
        width: 200px;
        margin: auto;
      }
    }
  }


  // Gallery
  #block-views-blockmenu-gallery-block-1 {

    .view-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 35px;

      @media (max-width: 1199px)  {margin-bottom: 34px;}
      @media (max-width: 991px)   {margin-bottom: 34px;}
    }

    img {
      width: 120px;
      height: auto;
      border-radius: $border-radius-img;

      @media (max-width: 1199px)  {width: 100px;}
      @media (max-width: 991px)   {width: 70px; }
    }

    .view-footer {
      text-align: center;
    }

    .menu-btn {
      width: 200px;
      margin: auto;
      font-size: 18px;

      @media (max-width: 1199px)  {font-size: 18px;}
      @media (max-width: 991px)   {font-size: 16px;}    }
  }
  */
