body,
.mm-page,
.mm-wrapper_background body {
  background-color: inherit;
  color: $white;
  font-optical-sizing: auto;
}



nav.tabs ul.nav-tabs {
  justify-content: center;
  li a {
    border-top-left-radius: $border-radius-img;
    border-top-right-radius: $border-radius-img;
  }
}

/* Scaleable fonts for headings */
h1 {font-size: clamp(2.2rem, 2vw + 1rem, 2.5rem);}
h2 {font-size: clamp(1.8rem, 2vw + 1rem, 2.1rem);}
h3 {font-size: clamp(1.5rem, 2vw + 1rem, 1.8rem);}
h4 {font-size: clamp(1.2rem, 2vw + 1rem, 1.6rem);}

/* Adjust paddings on headings */
h2 {padding-top: 15px;}
h3 {padding-top: 10px;}
h4 {padding-top: 5px;}

main > .container .region-content {
  font-size: 1.2rem;
  max-width: 850px;
  margin: 45vh auto 120px auto;
  padding: 30px 30px 60px 30px;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
  border-radius: $border-radius;
  position: relative;
  z-index: 0;

  @media (max-width: 768px) {
    font-size: 1.0rem;
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }

  .field--name-field-media-image {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius-img;
    }
  }

  // Event types
  .field--name-field-event-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

    > div {
      background-color: $gray-400;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: x-small;
      font-weight: $font-weight-bold;
      padding: 4px 8px;
      border-radius: 20px;
    }
  }

  .field--name-body {
    > p:first-of-type {
      text-align: center;
      font-size: clamp(1.3rem, 2vw + 0.5rem, 1.6rem);
      line-height: 1.3;

      @media (max-width: 768px) {
        text-align: inherit;
      }
    }
    > p:last-of-type {
      margin-bottom: 60px;
    }
  }

  .field--name-field-call-to-action {
    text-align: center;
  }
}

/* Prices page */
.node-864.page-node-type-landing main > .container .region-content  {
  max-width: inherit;
  margin-top: 60px;
}

span.yellow-text {
  color: $yellow;
}